// Colors
$bg-dark: #111111;
$bg-light: #272727;
$primary-color: #fff;
$secondary-color: #85d770;

// Typography

$font-family: 'Open Sans', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-light: 300;

// Layout

$container-width: 80%;